@font-face {
    font-family: Lato; /* Font name */
    src: url(/fonts/Lato/Lato-Regular.ttf); /* Font Source */
}

@font-face {
    font-family: Novecento;
    src: url(/fonts/novecento_sans/Novecentosanswide-DemiBold.otf);
}

h1{
    font-family: "Novecento";
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;

}

p{
    font-family: 'Lato';
}

/* Controls all Font Size for Sections, Need to break up into seperate elements/font types later maybe? */
section.section_brown, 
section.section_green, 
section.section_cream {
    font-size: 2rem;
}


/* Responsible for any Buttons */
a.button{
    text-transform: uppercase;
}

.button{
    text-decoration: none;
    text-transform:uppercase;
    font-family: "Novecento";
    font-weight: 700;
    cursor: pointer;
}

.button.small{
    font-size: 1rem;

    
}

.button.large{
    font-size: 2rem;

}